<footer>
    <div id="footer">
        <div class="followUs">Follow Us On:
            <a href="#" class="fa fa-facebook" onclick="window.open('https://www.facebook.com/TheWildWestMalta/');"></a>
            
            <div class="copyright">&copy; Wild West Bar and Grill 2022</div>
            <div class="pageButton">
                <button class="nextPage" type="button" onclick="location.href = 'https://thewildwest.com.mt/'"> Official Page</button>
            </div>
        </div>
    </div>  
</footer>