<nav>
    <div class="logo">The Wild West Bar & Grill </div>
    <img src="assets\image\logo-1.svg" alt="logo image" class="logoPic">
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
    </label>
    <ul>
        <li><a href="index.php">Home</a></li>
        <li><a href="booking.php">Booking</a></li>
        <li><a href="gallery.php">Gallery</a></li>
        <li><a href="categories.php">Menu</a></li>    
        <li><a href="AboutOwners.php">Staff</a></li>
        <li><a href="contactUs.php">Contact Us</a></li>
        <li><a href="favourites.php"><img src="assets/icon/Gold-Heart.png" alt="heart" width= 37px; height= 37px; ></a></li>

    </ul>
</nav>
