<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Wild West Bar & Grill</title>
    <link rel="stylesheet" href="assets\css\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {# Block setup for the Layout for the Website #}
    <div id="page"> 
        
        {% block header %}
        {% endblock %}
    
        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

    </div>
</body>
</html>